.sections{
    padding: 0px 30px !important;
}

/* section 1 */
.section1{
    background-color: white;
}
.section1-component{
    display: flex;
    align-items: center;
}

/* section 2 */
.section2{
    padding: 20px 20px !important;
    background-color: rgb(231, 231, 231);
}
.section2-fitur{
    display: flex;
    justify-content: center;
}