.sections{
    padding: 0px 30px !important;
}

/* section 1 */
.section1{
    background-color: white;
}
.section1-component{
    display: flex;
    align-items: center;
}

/* section 2 */
.section2{
    padding: 20px 20px !important;
    background-color: rgb(231, 231, 231);
}
.section2-fitur{
    display: flex;
    justify-content: center;
}
.custom-card{
    height: 230px!important;
}

/* section 3 */
.section3{
    padding: 20px 20px !important;
    background-color: rgb(255, 255, 255);
}
.image-item{
    width: 210px;
    height: 210px;
    filter: contrast(70%);
    object-fit: cover;
    border-radius: 5px;
}

/* section 4 */
.list-group-item a{
    text-decoration: none;
    margin-left: 5px;
    color: black;
}