@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body {
  font-family: "Afacad Flux", sans-serif;
}
.sch-btn{
  background-color: rgb(0, 0, 0);
  border: none !important;
  color: white !important;
  width: auto!important;
  height: 40px!important;
  border-radius: 4px!important;
}